@charset 'utf-8';
.wrap{
    background:#f9f9f9;
}
.container{
    max-width:640px;
    margin:0 auto;
    padding:70px;
    background:#fff;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}
.full-area{
    grid-column:1/-1;
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
}
.step{
    font-size:0.8em;
    text-align:center;
    word-break:keep-all;
}
.step.active{
    color:#730fa6;
}
.line{
    position:relative;
    height:2px;
    background:#ccc;
}
.line::after{
    content:'';
    display:block;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:25%;
    background:#730fa6;
}
.l-tit{
    font-weight:600;
    font-size:1.4em;
    transform: translateY(20px);
}
.img-kakao,.img-phone,.img-ipin{
    padding:30px;
    border:1px solid #ccc;
    border-radius:12px;
}
.img-kakao a,.img-phone a,.img-ipin a{
    position:relative;
    display:block;
    width:100%;
    height:120px;
    padding-bottom:20px;            
    background:url(../images/ico-kakaobank.png) no-repeat center;
    background-clip:content-box;
    background-size:100px;            
}
.img-phone{
    grid-column:1/3;
}
.img-ipin{
    grid-column:3/-1;
}
.img-phone a{
    background-image:url(../images/ico-phone.png);
    background-position-y:top;
    background-size:90px;
}
.img-ipin a{
    background-image:url(../images/ico-ipin.png);
    background-position-y:top;
    background-size:90px;
}
.center-txt{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    text-align:center;
}
ul li{
    position:relative;
    padding-left:10px;
    font-size:0.8em;
}
ul li::before{
    content:'';
    display:block;
    position:absolute;
    left:0;
    top:7px;
    width:4px;
    height:4px;
    border-radius:50%;
    background:#ccc;
}

@media (max-width:640px){
    .container{
        padding-left:40px;
        padding-right:40px;
    }
}

@media (max-width:470px){
    .container{
        padding:32px 16px
    }
    .l-tit{
        font-size:1em;
    }
    .l-tit + p{
        font-size:0.9em;
        opacity:0.8;
    }
    .img-phone,.img-ipin{
        grid-column:1/-1;
    }
}